{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <title>AHFoZ</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"  crossorigin="anonymous">


    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/carousel/">

    <!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"  crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .hello-msg {
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
     <img src="{% static 'img/logo.png' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home </span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add Delagates
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'NonPaying' %}">Non Paying</a>
          <a class="dropdown-item" href="{% url 'Paying' %}">Paying</a>
          <a class="dropdown-item" href="{% url 'Sponsorship' %}">Sponsorship</a>
          <a class="dropdown-item" href="{% url 'Exibitor' %}">Exibitor</a>
        </div>
      </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          View Delagates
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'Display1' %}">Non Paying</a>
          <a class="dropdown-item" href="{% url 'Display2' %}">Paying</a>
          <a class="dropdown-item" href="{% url 'Display3' %}">Sponsorship</a>
          <a class="dropdown-item" href="{% url 'Display4' %}">Exibitor</a>
        </div>
      </li>
    </ul>
  </div>

  <span class="hello-msg">Hello,  {{request.user}}</span>
  <span><a class="hello-msg" href="{% url 'logout'%}">Logout</a></span>
  </nav>

    </header>

<main role="main">

    {% block content %}


    {% endblock %}
    <hr class="featurette-divider">

  <!-- FOOTER -->
  <footer class="container">
    <!--<p class="float-right"><a href="#">Back to top</a></p>-->
    <p>&copy; 2020 AHFoZ. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</main>
<script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"  crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="{% static 'js/bootstrap.bundle.min.js' %}"  crossorigin="anonymous"></script></body>
</html>
