<br>
<!-- cards to present the number of delagates in the database -->


<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-nonpayee">
			  	<div class="card-header">
			  		<h5 class="card-title">Total NonPaying</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_nonpayee}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-payee">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Paying</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_payee}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-sponsors">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Sponsors</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_sponsors}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-exibitors">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Exibitors</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_exibitors}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>